* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;

    font-family: Arial, sans-serif;

    background: #09090b;
    color: #f4f4f5;
}

.navbar {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 50px;

    padding: 15px 25px;

    background: #18181b;
    border: 1px solid #303036;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 8px;
}

.nav-links a {
    color: #a1a1aa;
    text-decoration: none;

    padding: 9px 14px;
    border-radius: 8px;

    font-weight: bold;

    transition: 0.2s;
}

.nav-links a:hover {
    background: #27272a;
    color: white;
}

.contenido-video {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.contenido-video h1 {
    font-size: 42px;
    margin-bottom: 35px;
}

.video-card {
    background: #18181b;

    border: 1px solid #303036;
    border-radius: 18px;

    padding: 25px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.video-card h2 {
    margin-top: 0;
    color: #e4e4e7;
}

.video-card video {
    width: 100%;
    max-width: 800px;

    border-radius: 12px;

    display: block;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.titulo-video img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}

.titulo-video img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.titulo-video h1 {
    margin: 0;
}